.loader {
  position: absolute;
  width: 150px;
  z-index: -1;
  top: 85px;
  right: 650px;
  display: none;
}

h1 {
  text-align: center;
}

table {
  text-align: center;
}

/* ini css yang digunakan untuk men-style halaman pdf yang akan di print */
@media print {
  .form-search,
  .logout,
  .action {
    display: none;
  }
}
